@font-face {
  font-family: 'Lato-Regular';
  src: url("../scss/fonts/Lato-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Lato-Light';
  src: url("../scss/fonts/Lato-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Lato-ThinItalic';
  src: url("../scss/fonts/Lato-ThinItalic.ttf") format("truetype"); }

.base_font, .landing-font, .timeline_item p, .tile h4, .footer p {
  font-family: "Lato-Light";
  font-size: 16px; }
  @media (min-device-width: 992px) {
    .base_font, .landing-font, .timeline_item p, .tile h4, .footer p {
      font-size: 20px; } }

.sub_title {
  font-family: "Lato-Regular";
  font-size: 28px; }

.landing-title, .title {
  font-family: "Lato-Light";
  font-size: 32px; }
  @media (min-device-width: 992px) {
    .landing-title, .title {
      font-size: 48px; } }

.slide_text {
  font-family: "Lato-Light";
  font-size: 14px; }

.button_inverse, .description {
  font-family: "Lato-Light";
  font-size: 16px; }

.logo {
  padding: 0 10px;
  position: absolute;
  top: 0; }
  .logo img {
    height: 30px; }
  @media (min-device-width: 768px) {
    .logo {
      padding: 20px; }
      .logo img {
        height: 40px; } }

.landing-title {
  color: #FFFFFF;
  padding: 30px; }
  @media (min-device-width: 992px) {
    .landing-title {
      padding: 30px 50px; } }

.base_font {
  color: #404040;
  margin-top: 0; }

.landing-font {
  color: #FFFFFF;
  padding: 0 30px; }
  @media (min-device-width: 992px) {
    .landing-font {
      padding: 0 50px; } }

.title {
  color: #404040;
  margin: 0; }

.section_container {
  margin-top: 50px;
  margin-bottom: 20px;
  position: relative; }

.section_title {
  text-align: center;
  position: relative;
  margin-bottom: 90px; }
  .section_title:after {
    content: '';
    display: block;
    width: 50px;
    height: 6px;
    background-color: #CC1100;
    margin-top: 26px;
    position: absolute;
    left: 44%; }
    @media (min-device-width: 992px) {
      .section_title:after {
        left: 48%; } }

.sub_title {
  color: #CC1100;
  margin-top: 30px; }

.button_inverse {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  color: #FFFFFF;
  padding: 10px 30px;
  margin-top: 15px;
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease; }
  .button_inverse:hover, .button_inverse :focus {
    outline: none;
    background-color: #FFFFFF;
    color: #CC1100; }

a {
  color: #CC1100; }
  a:hover, a :focus, a :active {
    text-decoration: none;
    color: #b30f00; }

.divider img, .divider-inverse img {
  width: 100%; }

.divider-inverse {
  margin-bottom: -10px; }
  @media (min-device-width: 768px) {
    .divider-inverse {
      margin-bottom: -55px; } }
  .divider-inverse.sketch {
    margin-bottom: 0; }

.desktop {
  display: none; }
  @media (min-device-width: 768px) {
    .desktop {
      display: block; } }

.mobile {
  display: block; }
  @media (min-device-width: 768px) {
    .mobile {
      display: none; } }

.graphic_wrapper {
  text-align: center;
  padding: 20px 15px; }
  .graphic_wrapper img {
    width: 100%; }
  @media (min-device-width: 768px) {
    .graphic_wrapper {
      padding: 60px 15px; } }

.background_image {
  position: absolute;
  z-index: 1;
  width: 100%; }

.landing {
  background-color: #F7F7F7; }

.landing-highlight {
  font-family: "Lato-Regular"; }

.landing_wrapper, .image_wrapper {
  z-index: 2; }

.image_wrapper {
  text-align: center; }

.landing-image {
  padding: 10px 0 50px 0;
  width: 100%; }
  @media (min-device-width: 992px) {
    .landing-image {
      height: 580px; } }

.landing-icon {
  padding: 10px 10px 0 0; }

.timeline_item {
  margin-bottom: 30px;
  overflow: hidden; }
  @media (min-device-width: 768px) {
    .timeline_item {
      margin-bottom: 60px; } }
  .timeline_item p {
    margin-top: 10px; }
  .timeline_item .icon_wrapper {
    background: no-repeat right;
    background-size: contain;
    height: 110px;
    width: 100%;
    -webkit-transition-duration: 0.75s;
    transition-duration: 0.75s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease; }
  .timeline_item .animate {
    -webkit-transition-duration: 0.75s;
    transition-duration: 0.75s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease; }
  .timeline_item #DNA {
    background-image: url("../Images/DNA_stamp.svg"); }
  .timeline_item #Coding {
    background-image: url("../Images/Coding_stamp.svg"); }
  .timeline_item #Angular {
    background-image: url("../Images/Angular_stamp.svg"); }
  .timeline_item #Drupal {
    background-image: url("../Images/Drupal_stamp.svg"); }
  .timeline_item #Agile {
    background-image: url("../Images/Agile_stamp.svg"); }
  .timeline_item #Google {
    background-image: url("../Images/Google_stamp.svg"); }
  .timeline_item #React {
    background-image: url("../Images/React_stamp.svg"); }
  .timeline_item #Microservices {
    background-image: url("../Images/Microservices_stamp.svg"); }
  .timeline_item p {
    color: #404040; }

.active #DNA {
  background-image: url("../Images/DNA_stamp_active.svg"); }

.active #Coding {
  background-image: url("../Images/Coding_stamp_active.svg"); }

.active #Angular {
  background-image: url("../Images/Angular_stamp_active.svg"); }

.active #Drupal {
  background-image: url("../Images/Drupal_stamp_active.svg"); }

.active #Agile {
  background-image: url("../Images/Agile_stamp_active.svg"); }

.active #Google {
  background-image: url("../Images/Google_stamp_active.svg"); }

.active #React {
  background-image: url("../Images/React_stamp_active.svg"); }

.active #Microservices {
  background-image: url("../Images/Microservices_stamp_active.svg"); }

.timeline {
  height: calc(100% + 90px);
  width: 6px;
  background-color: #CC1100;
  position: absolute;
  top: -65px;
  left: 44px; }
  @media (min-device-width: 768px) {
    .timeline {
      height: calc(100% + 120px);
      top: -100px;
      left: 120px; } }

.project_container {
  background-color: #F7F7F7; }
  .project_container .section_container {
    margin-top: 100px; }
  .project_container .col-md-3 {
    position: relative; }
  .project_container .base_font {
    text-align: center; }

.tile {
  height: 280px;
  background-color: #F7F7F7;
  text-align: center;
  margin: 0 auto;
  position: relative;
  -webkit-perspective: 600px;
  perspective: 600px; }
  .tile h4 {
    color: #404040;
    margin-top: 50px; }
  .tile img {
    height: 120px; }

.tile .front {
  position: absolute;
  top: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 30px;
  background-color: #FFFFFF;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  -webkit-transition: all .75s ease-in-out;
  transition: all .75s ease-in-out; }

.tile.flip .front {
  z-index: 900;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg); }

.tile .back {
  position: absolute;
  top: 0;
  z-index: 800;
  width: 100%;
  height: 100%;
  background-color: #CC1100;
  -webkit-transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-transform: rotateY(-180deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  -webkit-transition: all .75s ease-in-out;
  transition: all .75s ease-in-out; }

.tile.flip .back {
  z-index: 1000;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg); }

.sass img {
  margin-top: 40px; }

.description {
  color: #FFFFFF;
  padding: 15px;
  text-align: center; }

.tile_wrapper {
  margin: 20px 0; }

.footer {
  height: 150px; }
  .footer p {
    color: #404040;
    padding: 55px 0; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.animated-fadeIn {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.animated-fadeInRight {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.animated-fadeInUp {
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

.scrollToTop {
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 40px;
  border: 4px solid #CC1100;
  border-radius: 50%;
  right: 40px;
  display: none;
  background: url("../Images/scrollToTop.svg") #FFFFFF no-repeat 10px 20px;
  background-size: initial;
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease; }

.scrollToTop:hover {
  text-decoration: none;
  background: url("../Images/scrollToTop_active.svg") #CC1100 no-repeat 10px 20px;
  background-size: initial; }

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform; }

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
      transform: scale(1.2); }

.slide {
  background: url("../Images/Slide_background.svg") no-repeat center;
  background-size: cover;
  height: 250px; }

.slide_text {
  color: #404040; }

.text_wrapper {
  margin: 0 30px 30px 0;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px; }

.slick-arrow {
  display: none !important; }
