@font-face {
  font-family: 'Lato-Regular';
  src: url("../scss/fonts/Lato-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Lato-Light';
  src: url("../scss/fonts/Lato-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Lato-ThinItalic';
  src: url("../scss/fonts/Lato-ThinItalic.ttf") format("truetype"); }

.title {
  font-family: "Lato-Light";
  font-size: 48px; }

.landing-title {
  font-family: "Lato-Light";
  font-size: 64px; }

.landing-title {
  color: #404040;
  margin: 0 0 60px 0; }

.title {
  color: #404040;
  margin: 0; }

.landing {
  background-color: #F7F7F7; }
  .landing .container {
    margin-top: 20px;
    margin-bottom: 160px; }

.landing-highlight {
  font-family: "Lato-Regular";
  color: #CC1100; }

.landing-image {
  width: 100%; }

.center-wrapper {
  display: table; }
  .center-wrapper .center-block {
    float: none;
    display: table-cell;
    vertical-align: middle; }
