
//Palette

$grey: #ccc;
$light-grey: #f7f7f7;
$black: #404040;
$white: #fff;
$highlight: #c10;

//Text
$text-default: $black;
$text-inverse: $white;
$text-highlight: $highlight;

//Background
$background-default: $light-grey;
$background-inverse: $white;
$background-timeline: $highlight;
$background-tile--hover: $highlight;
$background-button--hover: $highlight;

//Border
$border-title: $highlight;
$border-button--inverse: 1px solid $white;
