
//Palette

$grey: #CCCCCC;
$light_grey: #F7F7F7;
$black: #404040;
$white: #FFFFFF;
$highlight: #CC1100;

//Text
$text_default: $black;
$text_inverse: $white;
$text_highlight: $highlight;

//Background
$background_default: $light_grey;
$background_inverse: $white;
$background_button: $highlight;
$background_tile--hover: $highlight;
$background_button--hover: $highlight;

//Border
$border_title: $highlight;
$border_button--inverse: 1px solid $white;
