
//Palette

$grey: #CCCCCC;
$light_grey: #F7F7F7;
$black: #404040;
$white: #FFFFFF;
$highlight: #CC1100;

//Text
$text_default: $black;
$text_inverse: $white;
$text_highlight: $highlight;

//Background
$background_default: $light_grey;
$background_inverse: $white;