
//font-size
$base-font-size--xs: 18px;
$base-font-size--sm: $base-font-size--xs;
$base-font-size--md: 24px;
$base-font-size--lg: $base-font-size--md;

$subtitle-font-size--md: 36px;
$subtitle-font-size--lg: $subtitle-font-size--md;

$title-font-size--md: 48px;
$title-font-size--lg: $title-font-size--md;

$landing-font-size--md: 64px;
$landing-font-size--lg: $landing-font-size--md;


//font-families
$light__font-family__Lato: 'Lato-Light';
$regular__font-family__Lato: 'Lato-Regular';

%base-font {
  font-family: $light__font-family__Lato;
  font-size: $base-font-size--md;
}

%subtitle-font {
  font-family: $regular__font-family__Lato;
  font-size: $subtitle-font-size--md;
}

%title-font {
  font-family: $light__font-family__Lato;
  font-size: $title-font-size--md;
}

%landing-font {
  font-family: $light__font-family__Lato;
  font-size: $landing-font-size--md;
}