
//font-size
$base-font-size--xs: 16px;
$base-font-size--sm: $base-font-size--xs;
$base-font-size--md: 20px;
$base-font-size--lg: $base-font-size--md;

$subtitle-font-size--md: 28px;
$subtitle-font-size--lg: $subtitle-font-size--md;

$title-font-size--xs: 32px;
$title-font-size--sm: $title-font-size--xs;
$title-font-size--md: 48px;
$title-font-size--lg: $title-font-size--md;

$slider-font-size--md: 14px;
$slider-font-size--lg: $slider-font-size--md;

$tile-font-size--md: 16px;
$tile-font-size--lg: $tile-font-size--md;


//font-families
$light--font-family--lato: 'Lato-Light';
$regular--font-family--lato: 'Lato-Regular';

%base-font {
  font-family: $light--font-family--lato;
  font-size: $base-font-size--xs;

  @media (min-device-width: $screen-md-min) {
    font-size: $base-font-size--md;
  }
}

%subtitle-font {
  font-family: $regular--font-family--lato;
  font-size: $subtitle-font-size--md;
}

%title-font {
  font-family: $light--font-family--lato;
  font-size: $title-font-size--xs;

  @media (min-device-width: $screen-md-min) {
    font-size: $title-font-size--md;
  }
}

%slider-font {
  font-family: $light--font-family--lato;
  font-size: $slider-font-size--md;
}

%tile-font {
  font-family: $light--font-family--lato;
  font-size: $tile-font-size--md;
}
