
.landing-title {
  @extend %title-font;
  color: $text_inverse;
  padding: 30px 50px;
}

.base_font {
  @extend %base-font;
  color: $text_default;
  margin-top: 0;
}

.landing-font {
  @extend %base-font;
  color: $text_inverse;
  padding: 0 50px;
}

.title {
  @extend %title-font;
  color: $text_default;
  margin: 0;
}

.section_container {
  margin-top: 50px;
  margin-bottom: 20px;
  position: relative;
}

.section_title {
  text-align: center;
  position: relative;
  margin-bottom: 90px;

  &:after {
    content: '';
    display: block;
    width: 50px;
    height: 6px;
    background-color: $border_title;
    margin-top: 26px;
    position: absolute;
    left: 48%;
  }
}

.sub_title {
  @extend %subtitle-font;
  color: $highlight;
  margin-top: 30px;
}


.button_inverse {
  @extend %tile-font;
  background-color: transparent;
  border: $border_button--inverse;
  border-radius: 30px;
  color: $text_inverse;
  padding: 10px 30px;
  margin-top: 15px;
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;

  &:hover, :focus {
    outline: none;
    background-color: $background_inverse;
    color: $text_highlight;
  }
}

a {
  color: $text_highlight;

  &:hover, :focus, :active {
    text-decoration: none;
    color: darken($text_highlight, 5%);
  }
}

.divider-inverse {
  margin-bottom: -55px;
}

