.logo {
  padding: 0 10px;
  position: absolute;
  top: 0;

  img {
    height: 30px;
  }

  @media (min-device-width: $screen-sm-min) {
    padding: 20px;

    img {
      height: 40px;
    }
  }
}

.landing-title {
  @extend %title-font;
  color: $text-inverse;
  padding: 30px;

  @media (min-device-width: $screen-md-min) {
    padding: 30px 50px;
  }
}

.base-font {
  @extend %base-font;
  color: $text-default;
  margin-top: 0;
}

.landing-font {
  @extend %base-font;
  color: $text-inverse;
  padding: 0 30px;

  @media (min-device-width: $screen-md-min) {
    padding: 0 50px;
  }
}

.title {
  @extend %title-font;
  color: $text-default;
  margin: 0;
}

.section-container {
  margin-bottom: 20px;
  margin-top: 50px;
  position: relative;
}

.section-title {
  margin-bottom: 90px;
  position: relative;
  text-align: center;

  &::after {
    background-color: $border-title;
    content: '';
    display: block;
    height: 6px;
    left: 44%;
    margin-top: 26px;
    position: absolute;
    width: 50px;

    @media (min-device-width: $screen-md-min) {
      left: 48%;
    }
  }
}

.sub-title {
  @extend %subtitle-font;
  color: $highlight;
  margin-top: 30px;
}

.button-inverse {
  @extend %tile-font;
  background-color: transparent;
  border: $border-button--inverse;
  border-radius: 30px;
  color: $text-inverse;
  margin-top: 15px;
  padding: 10px 30px;
  transition-duration: .75s;
  transition-timing-function: ease;

  &:hover,
  :focus {
    background-color: $background-inverse;
    color: $text-highlight;
    outline: none;
  }
}

a {
  color: $text-highlight;

  &:hover,
  :focus,
  :active {
    color: darken($text-highlight, 5%);
    text-decoration: none;
  }
}

.divider,
%divider {
  img {
    width: 100%;
  }
}

.divider-inverse {
  @extend %divider;
  margin-bottom: -10px;

  @media (min-device-width: $screen-sm-min) {
    margin-bottom: -55px;
  }

  &.sketch {
    margin-bottom: 0;
  }
}

.desktop {
  display: none;

  @media (min-device-width: $screen-sm-min) {
    display: block;
  }
}

.mobile {
  display: block;

  @media (min-device-width: $screen-sm-min) {
    display: none;
  }
}

.graphic-wrapper {
  padding: 20px 15px;
  text-align: center;

  img {
    width: 100%;
  }

  @media (min-device-width: $screen-sm-min) {
    padding: 60px 15px;
  }
}
