.background_image {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.landing {
  background-color: $background_default;
}

.landing-highlight {
  font-family: $regular__font-family__Lato;
}

.landing_wrapper {
  z-index: 2;
}

.image_wrapper {
  @extend .landing_wrapper;
  text-align: center;
}

.landing-image {
  padding: 10px 0 50px 0;
  width: 100%;

  @media (min-device-width: $screen-md-min) {
    height: 580px;
  }
}

.landing-icon {
  padding: 10px 10px 0 0;
}
