
.landing {
  background-color: $background_default;
}

.landing-highlight {
  font-family: $regular__font-family__Lato;
  color: $text_highlight;
}

.landing-image {
  margin-left: -250px;
  width: 550px;
}

.center-wrapper {
  display: table;
  margin: 5px 10% 80px;

  .center-block {
    float: none;
    display: table-cell;
    vertical-align: middle;
  }

  .animation_wrapper {
    display: none;
  }
}

