.background-image {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.landing {
  background-color: $background-default;
}

.landing-highlight {
  font-family: $regular--font-family--lato;
}

.landing-wrapper,
%landing-wrapper {
  z-index: 2;
}

.image-wrapper {
  @extend %landing-wrapper;
  text-align: center;
}

.landing-image {
  padding: 10px 0 50px;
  width: 100%;

  @media (min-device-width: $screen-md-min) {
    height: 580px;
  }
}

.landing-icon {
  padding: 10px 10px 0 0;
}
