.project-container {
  background-color: $background-default;

  .section-container {
    margin-top: 100px;
  }

  .col-md-3 {
    position: relative;
  }

  .base-font {
    text-align: center;
  }
}

.tile {
  background-color: $background-default;
  height: 280px;
  margin: 0 auto;
  perspective: 600px;
  text-align: center;

  h4 {
    @extend %base-font;
    color: $text-default;
    margin-top: 50px;
  }

  img {
    height: 120px;
  }
}

.tile .front {
  backface-visibility: hidden;
  background-color: $background-inverse;
  height: 100%;
  padding: 30px;
  position: absolute;
  text-align: center;
  top: 0;
  transform: rotateX(0deg) rotateY(0deg);
  transform-style: preserve-3d;
  transition: all .75s ease-in-out;
  width: 100%;
  z-index: 900;
}

.tile.flip .front {
  transform: rotateY(180deg);
  z-index: 900;
}

.tile .back {
  backface-visibility: hidden;
  background-color: $background-tile--hover;
  height: 100%;
  position: absolute;
  top: 0;
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
  transition: all .75s ease-in-out;
  width: 100%;
  z-index: 800;
}

.tile.flip .back {
  transform: rotateX(0deg) rotateY(0deg);
  z-index: 1000;
}

.sass {
  img {
    margin-top: 40px;
  }
}

.description {
  @extend %tile-font;
  color: $text-inverse;
  padding: 15px;
  text-align: center;
}

.tile-wrapper {
  margin: 20px 0;
}
