.timeline-item {
  margin-bottom: 30px;
  overflow: hidden;

  @media (min-device-width: $screen-sm-min) {
    margin-bottom: 60px;
  }

  p {
    @extend %base-font;
    color: $text-default;
    margin-top: 10px;
  }

  .icon-wrapper {
    background: no-repeat right;
    background-size: contain;
    height: 110px;
    transition-duration: .75s;
    transition-timing-function: ease;
    width: 100%;
  }

  .animate {
    transition-duration: .75s;
    transition-timing-function: ease;
  }

  #dna {
    background-image: url('../Images/DNA_stamp.svg');
  }

  #coding {
    background-image: url('../Images/Coding_stamp.svg');
  }

  #angular {
    background-image: url('../Images/Angular_stamp.svg');
  }

  #drupal {
    background-image: url('../Images/Drupal_stamp.svg');
  }

  #agile {
    background-image: url('../Images/Agile_stamp.svg');
  }

  #google {
    background-image: url('../Images/Google_stamp.svg');
  }

  #react {
    background-image: url('../Images/React_stamp.svg');
  }

  #microservices {
    background-image: url('../Images/Microservices_stamp.svg');
  }

}

.active {
  #dna {
    background-image: url('../Images/DNA_stamp_active.svg');
  }

  #coding {
    background-image: url('../Images/Coding_stamp_active.svg');
  }

  #angular {
    background-image: url('../Images/Angular_stamp_active.svg');
  }

  #drupal {
    background-image: url('../Images/Drupal_stamp_active.svg');
  }

  #agile {
    background-image: url('../Images/Agile_stamp_active.svg');
  }

  #google {
    background-image: url('../Images/Google_stamp_active.svg');
  }

  #react {
    background-image: url('../Images/React_stamp_active.svg');
  }

  #microservices {
    background-image: url('../Images/Microservices_stamp_active.svg');
  }
}

.timeline {
  background-color: $background-timeline;
  height: calc(100% + 90px);
  left: 44px;
  position: absolute;
  top: -65px;
  width: 6px;

  @media (min-device-width: $screen-sm-min) {
    height: calc(100% + 120px);
    left: 120px;
    top: -100px;
  }
}
