.timeline_item {
  margin-bottom: 30px;
  overflow: hidden;

  @media (min-device-width: $screen-sm-min) {
    margin-bottom: 60px;
  }

  p {
    margin-top: 10px;
  }

  .icon_wrapper {
    background: no-repeat right;
    background-size: contain;
    height: 110px;
    width: 100%;
    -webkit-transition-duration: 0.75s;
    transition-duration: 0.75s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
  }

  .animate {
    -webkit-transition-duration: 0.75s;
    transition-duration: 0.75s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
  }

  #DNA {
    background-image: url('../Images/DNA_stamp.svg');
  }

  #Coding {
    background-image: url('../Images/Coding_stamp.svg');
  }

  #Angular {
    background-image: url('../Images/Angular_stamp.svg');
  }

  #Drupal {
    background-image: url('../Images/Drupal_stamp.svg');
  }

  #Agile {
    background-image: url('../Images/Agile_stamp.svg');
  }

  #Google {
    background-image: url('../Images/Google_stamp.svg');
  }

  #React {
    background-image: url('../Images/React_stamp.svg');
  }

  #Microservices {
    background-image: url('../Images/Microservices_stamp.svg');
  }

  p {
    @extend %base-font;
    color: $text_default;
  }
}

.active {
  #DNA {
    background-image: url('../Images/DNA_stamp_active.svg')
  }

  #Coding {
    background-image: url('../Images/Coding_stamp_active.svg');
  }

  #Angular {
    background-image: url('../Images/Angular_stamp_active.svg');
  }

  #Drupal {
    background-image: url('../Images/Drupal_stamp_active.svg');
  }

  #Agile {
    background-image: url('../Images/Agile_stamp_active.svg');
  }

  #Google {
    background-image: url('../Images/Google_stamp_active.svg');
  }

  #React {
    background-image: url('../Images/React_stamp_active.svg');
  }

  #Microservices {
    background-image: url('../Images/Microservices_stamp_active.svg');
  }
}

.timeline {
  height: calc(100% + 90px);
  width: 6px;
  background-color: $background_timeline;
  position: absolute;
  top: -65px;
  left: 44px;

  @media (min-device-width: $screen-sm-min) {
    height: calc(100% + 120px);
    top: -100px;
    left: 120px;
  }
}
